
<h1>Sign Up Page!!</h1>

<form action="/user/create" method="POST">
    <input type="text" placeholder="Your Name" name="name" required>
    <input type="email" placeholder="Your Email" name="email" required>
    <input type="password" placeholder="Your Password" name="password" required>
    <input type="password" placeholder="Confirm Password" name="confirm_password" required>
    <label for="status">Choose a Status:</label>
    <select id="status" name="status">
    <option value="Manager">Manager</option>
    <option value="Employee">Employee</option>
    
    </select>
    <input type="submit" value="Sign Up">
</form>

